@charset "utf-8";
h1{
    text-align: center;
    color: rgb(115, 115, 115);
    font-size: 40pt;
    margin: 50px;
}

.linkbtn{
    color: rgb(161, 161, 161);
    text-decoration: none;
}

.link{
    text-align: right;
    margin: 30px;
}

.btn-space{
    text-align: center;
}

.btn{
    background-color: rgb(251, 153, 61);
    color: white;
    height: 60px;
    width: 200px;
    font-size: 20pt;
}

