@charset "utf-8";
main{
    margin-right:80px;
    margin-left: 80px;
    margin-top: 20px;
}
.information-content{
    border:1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-right:50px;
    margin-left:50px;
    padding: 20px;
    font-size: 12pt;
}
.info-date{
    margin-right: 30px;
}

#banner{
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
}

#banner-0{
    position:absolute;
    opacity: 1;
}

#banner-1{
    position:absolute;
    opacity: 0;
}

#banner-2{
    position:absolute;
    opacity: 0;
}

#banner-3{
    position:absolute;
    opacity: 0;
}

#space-icon{
    height: 130px; 
    display: flex;
    justify-content: center;
}

div[id^="icon-"]{
    height: 20px;
    width: 20px;
    background-color: rgb(185, 166, 158);
    border-radius: 10px;
    margin: 20px;
}